<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.asianliftbd.staff">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:name=".db.DatabasePersisteance"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/alb"
        android:label="@string/appname"
        android:roundIcon="@mipmap/alb_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".Dashboard"/>
        <activity android:name=".AppInfo" />
        <activity android:name=".OfferList" />
        <activity android:name=".Offer" />
        <activity android:name=".Report" />
        <activity android:name=".CallbackProject" />
        <activity android:name=".Callback" />
        <activity android:name=".EditProfile" />
        <activity android:name=".ChangePassword"/>
        <activity android:name=".Contact"/>
        <activity android:name=".Error" />
        <activity android:name=".Conveyance" />
        <activity android:name=".ConvList" />
        <activity android:name=".Transaction" />
        <activity android:name=".Welcome" />
        <activity android:name=".ForgetPwd" />
        <activity android:name=".Login" />
        <activity android:name=".Start"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/blueM" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>