<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".services.DatabasePersistence"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.Start"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.PasswordForget" />
        <activity android:name=".activity.Login" />
        <activity android:name=".activity.Dashboard"
            android:label="@string/company_name" />

        <activity android:name=".activity.Transaction" />
        <activity android:name=".activity.Conveyance" />
        <activity android:name=".activity.Callback" />
        <activity android:name=".activity.CallbackProject" />
        <activity android:name=".activity.CallbackNew" />
        <activity android:name=".activity.Offer" />
        <activity android:name=".activity.OfferNew" />
        <activity android:name=".activity.Error" />

        <activity android:name=".activity.EditProfile" />
        <activity android:name=".activity.PasswordChange" />
        <activity android:name=".activity.AboutApp" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>